.menuHolder {
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0px 2px 6px 1px #888888;
  padding: 1rem 2rem;
}

.editBtn {
  margin-left: 1rem;
}

.controlButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;

  >span:last-child {
    border-right-width: 2px;
  }

}

.item {
  border: 1px solid #8ca5ab;
  width: 60%;
  margin: 0;
  padding: 0.3rem;

  &:first-child,
  &:nth-child(2) {
    width: 20%;
  }

  span {
    cursor: pointer;
  }
}

.plusBtn {
  border-width: 1px;
  border-radius: 0;
  padding: 0.3rem 0.5rem;
  background: transparent;
  border-color: #8ca5ab;
  box-shadow: none;
  color: #795479;
}

.menu {
  border: 1px solid #8ca5ab;
}

.newItemContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  position: relative;

  >input {
    margin-right: 1rem;
    border-radius: 4px;
    border-width: 2px;
  }

  >select {
    margin: 0 0.5rem;
    border: 1px solid #8ca5ab;
    border-radius: 4px;
    border-width: 2px;
  }
}

button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #d8ddde;

  &:hover {
    background: darken(#d8ddde, 5%);
  }

  &:active {
    background: darken(#d8ddde, 10%);
  }

  cursor: pointer;
}

input {
  &:focus {
    outline: none;
  }
}

.error {
  position: absolute;
  top: 2.5rem;
  font-size: 12px;
  color: red;
}